.information_container {
    justify-self: center;
    margin: 80px;
    margin-top: 30px;
}

.information_container .information .message {
    font-size: 3rem;
    font-family: var(--font-body-two);
    text-transform: capitalize;
    font-weight: 800;
    color: var(--color-muted-text);
}

.information_container .information {
    display: flex;
    justify-content: center;
}

.information_container .information img {
    width: 100%;
    height: 500px;
}

.information_container .information .suggestion {
    font-size: 1rem;
    font-family: var(--font-body);
    font-weight: 400;
    letter-spacing: 1px;
    margin: 10px;
}

.information_container .information .suggestion .suggestion_link {
    margin-left: 5px;
    text-decoration: none;
    font-family: var(--font-body-one);
    font-size: 1.15rem;
    font-weight: 500;
    color: var(--color-primary);
}