@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Colors */
  --color-primary: #2563EB;
  --color-secondary: #1E3A8A;
  --color-bg-light: #ffffff;
  --color-dark-text: #111827;
  --color-muted-text: #6B7280;
  --color-accent-green: #10B981;

  /* Fonts */
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-body-one: 'Jost', sans-serif;
  --font-body-two: 'Cabin', sans-serif;
}


* {
  scroll-behavior: smooth;
}

/* Scrollbar styles for WebKit-based browsers (Chrome, Safari) */
*::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  height: 12px; /* Height of the scrollbar for horizontal scrolling */
}

*::-webkit-scrollbar-track {
  background: transparent; /* Track color (background of the scrollbar) */
}

*::-webkit-scrollbar-thumb {
  background-color: #c1c1c1; /* Thumb color (scrolling handle) */
  border-radius: 6px; /* Rounded corners for the thumb */
  border: 3px solid #f1f1f1; /* Adds padding between the thumb and the track */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0; /* Thumb color on hover */
}

/* Scrollbar styles for Firefox */
body {
  scrollbar-width: thin; /* Sets a thin scrollbar width */
  scrollbar-color: #c1c1c1 transparent; /* thumb color and track color */
  background: linear-gradient(180deg, var(--color-bg-light), #d5d5d5) center center fixed;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "width" 100;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lobster-two-regular {
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  font-size: .95rem;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
